/* Default styles */
body, button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

pre, code, textarea, .editor-line-numbers {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    line-height: 1.5;
}

html, body, .window-manager {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    color: #fff;
    background-color: #111;
    overflow: hidden;
    user-select: none;
    cursor: default;
}

h1, h2, h3 {
    font-weight: 500;
}

h1, h2, h3, p {
    margin: 16px 0;
}

pre, textarea {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

textarea {
    resize: none;
    border: 0;
    color: #111;
    background-color: transparent;
}

/* Window Manager */
.window-manager {
    position: relative;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://source.unsplash.com/random/1920x1080?nature);
    background-position: center center;
    background-size: cover;
    filter: brightness(75%);
    z-index: -1;
}

.footer {
    position: absolute;
    right: 16px;
    bottom: 16px;
}

.footer > p {
    text-align: right;
    margin: 0;
}

/* Window styles */
.window {
    position: absolute;
    color: #111;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #fff;
    filter: grayscale(95%) brightness(95%);
    transition: box-shadow 150ms ease-in, filter 150ms ease-in, opacity 150ms ease-in, transform 150ms ease-in;
    overflow: hidden;

    opacity: 0;
    transform: scale(0.5);
}

.window-is-animating {
    transition: top 150ms ease-in, left 150ms ease-in, width 150ms ease-in, height 150ms ease-in, border-radius 150ms ease-in,
        box-shadow 150ms ease-in, filter 150ms ease-in, opacity 150ms ease-in, transform 150ms ease-in;
}

.window-is-animating > .window-body {
    transition: height 150ms ease-in;
}

.window-is-visible {
    opacity: 1;
    transform: scale(1);
}

.window-is-snapped-left {
    top: 0 !important;
    left: 0 !important;
    width: 50% !important;
    height: 100% !important;
    border-radius: 0;
}

.window-is-snapped-left > .window-body {
    height: calc(100vh - 49px) !important;
}

.window-is-snapped-right {
    top: 0 !important;
    left: 50% !important;
    width: 50% !important;
    height: 100% !important;
    border-radius: 0;
}

.window-is-snapped-right > .window-body {
    height: calc(100vh - 49px) !important;
}

.window-is-maximized {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 0;
}

.window-is-maximized > .window-body {
    height: calc(100vh - 49px) !important;
}

.window-is-folded {
    height: 48px !important;
}

.window-has-focus {
    filter: none;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.window-header {
    position: relative;
    width: 100%;
    height: 48px;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
}

.window-header-title {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    font-weight: 500;
}

.window-header-controls {
    position: absolute;
    display: flex;
    right: 0;
}

.window-header-button, .toolbar-button {
    display: inline-block;
    padding: 8px;
    margin: 4px;
    border-radius: 8px;
    border: 0;
    outline: 0;
    background-color: transparent;
    transition: background-color 150ms ease-in;
}

.window-header-button[disabled], .toolbar-button[disabled] {
    color: #555;
}

.window-header-button:hover, .toolbar-button:hover {
    background-color: #ccc;
}

.window-body {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.window-resize-north {
    position: absolute;
    top: -8px;
    width: 100%;
    height: 16px;
    cursor: n-resize;
}

.window-resize-west {
    position: absolute;
    top: 0;
    left: -8px;
    width: 16px;
    height: 100%;
    cursor: w-resize;
}

.window-resize-east {
    position: absolute;
    top: 0;
    right: -8px;
    width: 16px;
    height: 100%;
    cursor: e-resize;
}

.window-resize-south {
    position: absolute;
    bottom: -8px;
    width: 100%;
    height: 16px;
    cursor: s-resize;
}

.window-resize-north-west {
    position: absolute;
    top: -12px;
    left: -12px;
    width: 24px;
    height: 24px;
    cursor: nw-resize;
}

.window-resize-north-east {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 24px;
    height: 24px;
    cursor: ne-resize;
}

.window-resize-south-west {
    position: absolute;
    left: -12px;
    bottom: -12px;
    width: 24px;
    height: 24px;
    cursor: sw-resize;
}

.window-resize-south-east {
    position: absolute;
    right: -12px;
    bottom: -12px;
    width: 24px;
    height: 24px;
    cursor: se-resize;
}

/* User interface styles */
.fill {
    flex: 1;
}

.icon {
    display: block;
    width: 24px;
    height: 24px;
}

.container {
    padding: 0 16px;
    flex: 1;
}

.button {
    padding: 8px 16px;
    text-transform: uppercase;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    border: 0;
    outline: 0;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: background-color 150ms ease-in, box-shadow 0.1s ease-in;
}

.button:hover {
    background-color:rgba(0, 0, 0, 0.09);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.toolbar {
    display: flex;
    height: 48px;
    background-color: #f6f6f6;
    border-bottom: 1px solid #ccc;
}

.seperator-vertical {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.seperator-horizontal {
    display: flex;
    flex: 1;
}

.editor {
    display: flex;
}

.editor-line-numbers {
    padding: 0 16px;
    color: #777;
    text-align: right;
    overflow: hidden;
    pointer-events: none;
    border-right: 1px solid #bbb;
    background-color: #f6f6f6;
}

.editor-textarea {
    flex: 1;
    padding: 0 12px;
    white-space: pre;
    overflow-wrap: normal;
    overflow: auto;
}

.output-right {
    border-left: 1px solid #bbb;
    background-color: #eee;
    padding: 0 4px;
    overflow: hidden;
}

.output-bottom {
    border-top: 1px solid #bbb;
    background-color: #eee;
    padding: 8px;
}
